* {
	margin: 0;
}

html, body {
	padding: 0;
	height: 100%;
}

body {
	background-color: #87850f;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #239089;
	text-align: center;
}

#contenedor-general {
	//width: 960px;
    width: 1430px;
	min-height: 100%;
	height: auto !important;	/*con !important se aumenta la prioridad
								 de la propiedad */
	margin: auto;
	padding: 0px 10px 0px 10px;
	background-color:#FFFFFF;
}

#contenido {
	padding: 60px 0 0 0;
}

/* ---------------------------------------------
   Cabecera de la aplicaci贸n
-----------------------------------------------*/
#cabecera
{	
	float: left;
	/*width: 930px;*/
    width: 1200px;
	height:100px;
	margin-left: 30px;
	background: url(images/logo_cultivos.png) no-repeat left;
    background-size: 140px;
}

.menuppal
{
	margin-top:77px;
	float: right;
	/*font-size: .75em;*/
    font-size: .90em;
    
}

.menuppal div {
	width: 250px;
    height: 20px;
	display: inline-block;
	text-align: center;
	border: none;
	border-right: 1px solid;
    background-color: grey;
}

.menuppal .opcion_menu_primera{
	border-left: 1px solid;
}

.menuppal a
{
	text-decoration: none;
    text-shadow: 0 0 4px black;
    color: white;
}

.menuppal a:hover {
	color: aqua;
}

#linea_menu {
	border-bottom: 2px solid #0000CC;
	height: 70px;
}

/* ------------------------------------------------------------
   Formateo paginas: listado, eliminaci贸n, inserci贸n y edici贸n
-------------------------------------------------------------*/
table.cultivos_datos {
	padding:8px;
	margin: auto;
	border: none;
	border-top: solid;
	text-align: center;
}

table.cultivos_datos caption {
	font-size: 1.25em;
	font-weight: bold;
}

table.cultivos_datos th.encab_listado,
table.cultivos_datos td.celda_listado
{
	vertical-align: middle;
}

table.cultivos_datos th.encab_listado {
	padding: 30px 10px 5px;
	border-bottom: 3px double;
}

table.cultivos_datos td.celda_listado
{
	padding: 3px 10px;
	border-bottom: 1px dashed;
}

table.cultivos_datos td.celda_etiq {
	text-align: right;
}

table.cultivos_datos td.celda_datos {
	text-align: left;
}

table.cultivos_datos td.nota,
table.cultivos_datos span.nota {
	text-align: left;
	color: #CCCCFF;
	font-size: .75em;	
}

p.mensaje {
	width: 90%;
	margin: auto;
	margin-bottom: 25px;
	border: 2px groove;
	padding: 5px 10px;
}

p.mensaje,
table.cultivos_datos span.mensaje{
	text-align: left;
}

table.cultivos_datos img {
	width: 25px;
	height: 25px;
	border: none;
}

/*
table.cultivos_datos td.totales_bandeja {
	text-align: right;
	font-size: 1.20em;
	font-weight: bold;
}*/




table.BANDEJA_EDITAR {
	padding:8px;
    margin-left: 200px;
    margin-right: 50px;
	border: none;
	border-top: solid;
	text-align: center;
    
    position: relative;
    float: left;
}

table.BANDEJA_EDITAR caption {
	font-size: 1.25em;
	font-weight: bold;
}

table.BANDEJA_EDITAR td.celda_etiq {
	text-align: right;
}

table.BANDEJA_EDITAR td.celda_datos {
	text-align: left;
}


table.BANDEJA_EDITAR td.nota,
table.BANDEJA_EDITAR span.nota {
	text-align: left;
	color: #CCCCFF;
	font-size: .75em;	
}

p.mensaje {
	width: 90%;
	margin: auto;
	margin-bottom: 25px;
	border: 2px groove;
	padding: 5px 10px;
}

p.mensaje,
table.BANDEJA_EDITAR span.mensaje{
	text-align: left;
	color: #CC33CC;
}

img {
	width: 25px;
	height: 25px;
	border: none;
}

td.imprimir {
	float:right;
    font-size: .75em;
}




p.mensaje {
	width: 90%;
	margin: auto;
	margin-bottom: 25px;
	border: 2px groove;
	padding: 5px 10px;
}

p.mensaje,
table.cultivos_subdatos span.mensaje{
	text-align: left;
	color: #CC33CC;
}

table.cultivos_subdatos img {
	width: 25px;
	height: 25px;
	border: none;
}

table.cultivos_subdatos {
	padding:8px;
	margin: auto;
	border: inset 2px;
	text-align: center;
	font-size: .80em;
}

table.cultivos_subdatos caption {
	font-family: sans-serif, "Lucida Grande", Lucida, Verdana;
	text-align: left;
	padding-top: 15px;
    
    font-size: 1.25em;
	font-weight: bold;
}

table.cultivos_subdatos td {
	border: none;
	padding-left: 15px;
	padding-right: 15px;
}

table.cultivos_subdatos td.totaltiempos_operacionesbandeja {
	font-weight: bold;
	border-top: solid 4px;
}

table.cultivos_subdatos td.totalcostes_operacionesbandeja {
	font-weight: bold;
	border-top: solid 4px;
}